:host {
  display: inline-block;
}

:host(:not(:defined)),
:host(:not([init])){
  display: none;
}

button[aria-label] {
  background: transparent;
  border: none;
  aspect-ratio: 1/1;
  cursor: pointer;
  --icon-size: .5em;
}

#play-pause:before {
  content: "";
  height: 0;
  display: block;
  border-style: solid;
  border-width: var(--icon-size) 0 var(--icon-size) calc(var(--icon-size) * 2);
  border-color: transparent transparent transparent currentColor;
  transition: .218s ease;
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 100% 100%, 100% 0%);
}

:host([speaking]) #play-pause:before {
  height: calc(var(--icon-size) * 2);
  border-width: 0 0 0 calc(var(--icon-size) * 2);
  clip-path: polygon(0% 0%, 0% 100%, calc(100%/3) 100%, calc(100%/3) 0, calc(200%/3) 0, calc(200%/3) 100%, 100% 100%, 100% 0%);
}

#stop:before {
  content: '';
  height: calc(var(--icon-size) * 2);
  width: calc(var(--icon-size) * 2);
  background-color: currentColor;
  display: block;
}

summary {
  display: inline-block;
  white-space: nowrap;
}

summary:before {
  content: 'Listen';
  cursor: pointer;
}

#controls {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--space--near);
  padding-block: var(--space--away);
  align-items: center;
}

label {
  font-size: .8em;
  line-height: 1;
}

select {
  grid-column: 2 / span 2;
}

input {
  accent-color: var(--base-heat);
}

output {
  font-variant-numeric: tabular-nums;
  line-height: 1;
}