{% macro feature(t, d, h, tag, index = 0) %}
<div class="feature" style="--heat:{{ h }}">
  <div class="max-width feature-lockup">
    <strong class="post-heat"></strong>
    <{{tag}} class="post-title" aria-label="{{ t }}" style="--i: {{ index }}">{{ t | split | safe }}</{{tag}}>
    <p class="post-description">{{ d }}</p>
  </div>
</div>
{% endmacro %}