<footer id="footer" data-density-shift>
  <div class="max-content">
    <a href="/feed.xml" class="button" data-priority="primary" data-square aria-label="RSS Feed">
      <liga-icon>rss_feed</liga-icon>
    </a>
  </div>
</footer>