<header>
  <div class="max-width">
    <a href="/" aria-label="Design Systems Hot Takes">
      {% include "logo.svg" %}
    </a>

    <a href="/feed.xml" aria-label="RSS Feed">
     {% include "rss.svg" %}
    </a>
  </div>
</header>