<a href="/" id="header">
  <topic-summary>
    <span slot="icon" class="text--display">🧠</span>
    <h1 slot="title" class="text--display">blog.damato.design</h1>
    <span slot="line"></span>
    <small>Design System Hot Takes</small>
  </topic-summary>
</a>