<header>
  <a href="/" class="card">
    <span class="card-emoji">🧠</span>
    <div>
      <h1 class="card-title underline">blog.damato.design</h1>
      <p class="card-desc">Design System Hot Takes</p>
    </div>
  </a>
</header>