<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="title" property="og:title" content="{{ title }}" />
    {% include "head.njk" %}
  </head>
  <body>
    <main>
      {% include "header.njk" %}
      <h1 class="sr-only">{{ title }}</h1>
      {{ content | safe }}
    </main>
    <img src="https://analytics.damato.design/api/track?domain=blog.damato.design" style="display: none">
  </body>
</html>
