<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  {% include "head.njk" %}
</head>
<body>
  <main id="main" class="max-content" data-density-shift>
    {% include "header.njk" %}
     <div class="content">
       {{ content | safe }}
     </div>
     <site-attribution></site-attribution>
  </main>
  {% include "footer.njk" %}
</body>
</html>
