<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% include "head.njk" %}
  </head>
  <body>
    <main>
      {% include "header.njk" %}
      <h1 class="sr-only">{{ title }}</h1>
      {{ content | safe }}
    </main>
  </body>
</html>
