<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% include "head.njk" %}
  </head>
  <body>
    <main>
      {% import "feature.njk" as f %}
      {% include "header.njk" %}
      {% if desc %}
      <div class="post-hero">
        {{ f.feature(title, desc, heat, 'h1') }}
      </div>
      {% endif %}
      <article style="--heat: {{ heat }}">
        {% if desc %}
        <div class="prepost max-width">
          <datetime time="{{ page.date.toISOString() }}">{{ page.date.toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' }) }}</datetime>
          |
          <span>{{ content | readtime }}</span>
          <hr/>
        </div>
        {% endif %}
        <div class="max-width">
          <div class="markdown" data-density-shift>
          {{ content | safe }}
          </div>
          <span class="signature">- Donnie</span>
        </div>
      </article>
      {% mermaid_js %}
    </main>
  </body>
</html>