<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  {% include "head.njk" %}
</head>
<body class="post">
  <main id="main" class="max-content" data-density-shift>
     
    {% include "header.njk" %}
     <datetime slot="overline" class="text--detail" time="{{ page.date.toISOString() }}">{{ page.date.toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' }) }}</datetime>
      <h2 slot="title" class="text--heading">{{ title }}</h2>
     <div class="content">
       {{ content | safe }}
     </div>
     <p data-density-shift><liga-icon>chat</liga-icon> Question or comment about this post? <a href="https://twitter.com/intent/tweet?text=Hey%20%40designsyshouse,%20can%20we%20talk%20about%20{{ page.url | absoluteUrl(metadata.url) | urlencode }}?">Let us know on Twitter!</a></p>
     <site-attribution></site-attribution>
  </main>
</body>
</html>
