<style>
  aside {
    padding: 1rem;
    font-size: .9em;
    display: flex;
    align-items: start;
    gap: 1rem;
    width: 90%;
    margin-inline: auto;
  }

  img {
    border: 1px solid;
    max-width: 6em;
    margin-block-start: 1.2em;
  }

</style>

<aside>
  <img src="/animals/raven-black.webp"/>
  <div>
    <slot/>
  </div>
</aside>
