<style>
  aside {
    padding: 1rem;
    font-size: .9em;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-inline: auto;
  }

  .image {
    border: 1px solid var(--heat);
    margin-block-start: 1.2em;
    margin-inline-end: 2rem;
    max-width: 6em;
    display: flex;
    aspect-ratio: 1;
  }

  img {
    transform: scale(1.3);
    filter: contrast(0.5);
    width: 100%;
    height: 100%;
  }

  .content {
    flex: 1 1 600px
  }

</style>

<aside>
  { Astro.site && <div class="image">
    <img src="/animals/raven-black.webp" role="presentation" width="400" height="400"/>
  </div> }
  <div class="content">
    <slot/>
  </div>
</aside>
