---
const { 
  title = 'blog.damato.design',
  desc = 'Design Systems Hot Takes',
  slug = 'index',
  date,
} = Astro.props;

const ogImage = new URL(`og-images/${slug}.png`, Astro.url.origin).toString();
const schema = {
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": title,
  "image": [ ogImage ],
  "datePublished": date,
  "dateModified": date,
  "author": [{
    "@type": "Person",
    "name": "Donnie D'Amato",
    "url": "https://donnie.damato.design"
  }]
};
---

<head>
  <meta charset="UTF-8" />
  <title>{ title }</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content={ desc } />
  <meta name="generator" content={ Astro.generator } />
  <meta property="og:title" content={ title } />
  <meta property="og:description" content={ desc } />
  <meta property="og:url" content={ Astro.url } />
  <meta property="og:image" content={ ogImage } />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content="Donnie D'Amato's blog" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@donniedamato" />
  <meta name="twitter:creator" content="@donniedamato" />
  <meta name="twitter:title" content={ title } />
  <meta name="twitter:description" content={ desc } />
  <meta name="twitter:image" content={ ogImage } />
  <meta name="twitter:image:alt" content="Donnie D'Amato's blog" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">
  <script src="https://getinsights.io/js/insights.js" is:inline></script>
  <script>
  insights.init('ElNA3FxZojiB2RsK', {
    disabled: 'blog.damato.design' !== window.location.hostname
  });
  console.info(`Analytics disabled: ${insights.DEFAULT_APP.options.disabled}`);
  insights.trackPages();
  </script>

<script>
  window.onload = () => 'serviceWorker' in navigator && navigator.serviceWorker.register('/sw.js').then((registration) => registration.update()).catch((err) => {});
</script>

  { date && <script type="application/ld+json" set:html={JSON.stringify(schema)}/> }


  <style is:global>
    @font-face {
      font-family: 'Garamond Nova';
      src: url(/fonts/garamondnova-italic.woff2) format("woff2");
      weight: 400;
    }

    @font-face {
      font-family: 'Garamond Nova';
      src: url(/fonts/garamondnova-light.woff2) format("woff2");
      weight: 300;
    }

    *, *:before, *:after {
      box-sizing: border-box;
    }

    :root {
      --card-width: max(10vw + 10rem, 260px);
      --box-surface-bg: #f9f9f4;
      --box-surface-fg: #111;
      --box-contrast-bg: #001;
      --box-contrast-fg: #fff;
      --box-raised-bg: #fff;
      --box-raised-fg: #000;
      --box-raised-shadow: drop-shadow(0 0.1rem 0.5rem rgba(0, 0, 0, 0.1));
    }
  
    body {
      --content-width: var(--contentWidth, max(50vw + 20rem, 860px));
      margin: 0;
      font-family: "Merriweather",Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5;
      background: var(--box-surface-bg);
      color: var(--box-surface-fg);
      margin-bottom: 10vw;
    }
    
    img {
      max-width: 100%;
    }

    a {
      color: inherit;
      text-decoration-color: var(--heat);
      font-weight: 500;
    }

    .max-width {
      max-width: min(var(--content-width) - 2rem, 100vw - 2rem);
      margin-inline: auto;
    }

    @media print {
      .no-print {
        display: none !important;
      }
    }
  </style>
</head>