---
import rss from '@components/rss.svg?raw';
import logo from '@components/logo.svg?raw';
---

<style>
  header {
    padding-block: 2rem;
  }

  .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  a {
    color: inherit;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    line-height: 1;
    font-size: 1.5em;
  }

  h1 {
    font-size: .6em;
    font-weight: lighter;
    line-height: 1;
    font-family: Garamond Nova;
    margin-block: .25em;
  }

  @media not (display-mode: browser) {
    header { display: none; }
  }
</style>

<header>
  <div class="max-width">
    <a href="/">
      <Fragment set:html={logo} />
      <h1>Design Systems Hot Takes</h1>
    </a>
    <a href="/feed.xml" aria-label="RSS Feed">
      <Fragment set:html={rss} />
    </a>
  </div>
</header>