*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --content-width: 860px;
  --card-width: 320px;
  --box-surface-bg: #f5f5f5;
  --box-surface-fg: #111;
  --box-contrast-bg: #001;
  --box-contrast-fg: #fff;
  --box-raised-bg: #fff;
  --box-raised-fg: #000;
  --box-raised-shadow: drop-shadow(0 0.1rem 0.5rem rgba(0, 0, 0, 0.1));
}

body {
  --space--away: min(4rem, 4vw);
  --space--near: min(2rem, 4vw);
  margin: 0;
  font-family: "Merriweather";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background: var(--box-surface-bg);
  color: var(--box-surface-fg);
}

body [data-density-shift] {
  --space--away: min(2rem, 2vw);
  --space--near: min(1rem, 2vw);
}

body [data-density-shift] [data-density-shift] {
  --space--away: min(1rem, 2vw);
  --space--near: 0.5rem;
}

main {
  padding-block-end: var(--space--away);
  margin-block-end: var(--space--away);
}

a {
  color: inherit;
}

.max-width {
  max-width: min(
    var(--content-width) - var(--space--away),
    100vw - var(--space--away)
  );
  margin-inline: auto;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--box-raised-bg);
  color: var(--box-raised-fg);
  filter: var(--box-raised-shadow);
  padding: var(--space--near);
}

header:after {
  --base-hue: calc(225deg + ((var(--heat) + 1) * -62deg));
  --base-heat: hsl(var(--base-hue) 100% 50%);
  --light-heat: hsl(var(--base-hue) 100% 90%);
  content: '';
  width: calc(var(--scrollY, 0) * 1%);
  height: .5em;
  display: block;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, var(--base-heat), var(--light-heat));
  box-sizing: border-box;
  position: absolute;
  transition: .218s ease;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space--near);
}

header a {
  display: inline-flex;
}

.posts {
  list-style: none;
  margin-block: var(--space--away);
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: var(--space--away);
  filter: var(--box-raised-shadow);
}

.posts :where(li, .post-card) {
  display: contents;
}

.post-card {
  border-radius: 0.5rem;
  border: 1px solid currentcolor;
  text-decoration: none;
  font-size: 3em;
  background: var(--box-raised-bg);
}

.feature {
  --base-hue: calc(225deg + ((var(--heat) + 1) * -62deg));
  --base-heat: hsl(var(--base-hue) 100% 50%);
  --light-heat: hsl(var(--base-hue) 100% 90%);
  --dark-heat: hsl(var(--base-hue) 100% 20%);
  --shadow-heat: hsla(var(--base-hue) 100% 5%);
  padding: var(--space--near);
  border-radius: inherit;
  border: inherit;
  border-color: var(--base-heat);
  overflow: hidden;  
  background: inherit;
}

.post-hero .feature {
  font-size: 6em;
}

.feature-lockup {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  position: relative;
}

.post-heat {
  border-radius: 2rem;
  border: 0.25rem solid var(--base-heat);
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    sans-serif;
  background-color: var(--light-heat);
  text-transform: uppercase;
  padding: 0.3em 0.6em;
  font-size: 0.8rem;
  position: relative;
  z-index: 1;
  color: var(--box-contrast-fg);
}

[style] .post-heat:before {
  filter: brightness(0);
}

[style*="--heat:0"] .post-heat:before {
  content: "Mild 🌶️";
}

[style*="--heat:1"] .post-heat:before {
  content: "Medium 🌶️🌶️";
}

[style*="--heat:2"] .post-heat:before {
  content: "Hot 🌶️🌶️🌶️";
}

[style*="--heat:3"] .post-heat:before {
  content: "Volcanic 🌶️🌶️🌶️🌶️";
}

.post-title {
  padding-block: var(--space--away);
  font-size: min(1em, 10vw);
  font-family: "Oooh Baby";
  font-weight: 700;
  line-height: 1;
  position: relative;
  z-index: 1;
  margin-block: 0;
  transform: skew(10deg, -2deg);
}

.post-title span {
  background-image: linear-gradient(var(--base-heat), var(--base-heat));
  background-size: 100% .4em;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.post-description {
  font-size: .4em;
  border-left: 2px solid var(--base-heat);
  padding: var(--space--near);
  margin: 0;
  margin-block-start: auto;
  position: relative;
  z-index: 1;
}

.prepost {
  display: flex;
  flex-wrap: wrap;
}

.prepost > :not(:last-child):after {
  content: "|";
  margin-inline: var(--space--near);
}

#pagination {
  display: flex;
  justify-content: space-between;
  gap: var(--space--near);
  padding-block: 0 var(--space--near);
  align-self: stretch;
}

#pagination [aria-disabled] {
  visibility: hidden;
}

.signature {
  font-family: "Oooh Baby";
  font-size: min(3em, 10vw);
}

@media print {
  .feature {
    background-color: white;
    background-size: 0;
    box-shadow: none;
    color: currentcolor;
  }

  .feature > div:after {
    opacity: 0;
  }

  .feature .post-heat {
    border-color: var(--base-heat);
    box-shadow: none;
  }

  .feature .post-title {
    text-shadow: 0 0.2em 0.02em rgba(0, 0, 0, 0.1);
  }

  .feature .post-description {
    color: currentcolor;
    box-shadow: none;
    border-color: var(--base-heat);
  }
}
