#header {
  display: block;
  margin: var(--space--away) 0;
}

#header,
.posts a {
  text-decoration: none;
  color: inherit;
}

a [slot="title"] {
  text-decoration: underline;
  text-decoration-color: var(--feedback_standard_foreground-color);
}

.posts {
  list-style: none;
  margin: var(--space--away) 0;
  padding: 0;
}

[slot="icon"] {
  width: 1em;
  filter: contrast(0) sepia(1) saturate(10) hue-rotate(180deg) drop-shadow(4px 4px 0px black);
}

hr[slot="line"] {
  border: 0;
  border-left: 1px dotted;
  margin: 0 auto;
}

datetime {
  color: var(--feedback_standard_foreground-color);
}

topic-summary p,
.content {
  margin-block: var(--space--away);
}

.pagination {
  display: flex;
  justify-content: space-between;
  gap: var(--space--near);
  padding-block: var(--space--away) 0;
  align-self: stretch;
}

.pagination [aria-disabled] {
  visibility: hidden;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

#footer > div {
  display: flex;
  justify-content: flex-end;
  padding-inline: var(--space--near);
  padding-block: var(--space--away);
}

#footer > a {
  pointer-events: initial;
}