#header {
  display: block;
  margin: var(--space--away) 0;
}

#header,
.posts a {
  text-decoration: none;
}

.posts {
  list-style: none;
  margin: var(--space--away) 0;
  padding: 0;
}

[slot="icon"] {
  width: 1em;
  filter: contrast(0) sepia(1) saturate(10) hue-rotate(-60deg) drop-shadow(4px 4px 0px black);
}

hr[slot="line"] {
  border: 0;
  border-left: 1px dotted;
  margin: 0 auto;
}

datetime {
  margin-left: calc(var(--text--display) + var(--space--away));
}

.content {
  margin-block: var(--space--away);
}

.pagination {
  display: flex;
  justify-content: space-between;
  gap: var(--space--near);
  padding-block: var(--space--away) 0;
}

.pagination [aria-disabled] {
  visibility: hidden;
}