---
layout: layout.njk
title: blog.damato.design
desc: Design System Hot Takes
tags: 
- index
pagination:
  data: collections.posts
  size: 6
  alias: posts
  reverse: true
---
{% import "feature.njk" as f %}
{% if posts %}
<div>
  <ul class="posts max-width">
    {%- for post in posts %}
    <li>
      <a href="{{ post.url }}" class="post-card">
        {{ f.feature(post.data.title, post.data.desc, post.data.heat, 'h2', loop.index0) }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</div>
{% endif %}

<nav>
  <div id="pagination" class="max-width">
  <a 
    role="link"
    {% if pagination.href.previous %} href="{{pagination.href.previous}}" {% endif %}
    {% if not pagination.href.previous %} aria-disabled="true" {% endif %}>Previous Page</a>
  
  <a 
    role="link"
    {% if pagination.href.next %} href="{{pagination.href.next}}" {% endif %}
    {% if not pagination.href.next %} aria-disabled="true" {% endif %}>Next Page</a>
  </div>
</nav>
