---
layout: layout.njk
title: blog.damato.design
pagination:
  data: collections.posts
  size: 5
  alias: posts
  reverse: true
---

{% if posts %}
<ul class='posts'>
  {%- for post in posts %}
  <li>
    <a href="{{ post.url }}">
      <topic-summary>
        <datetime slot="overline" class="text--detail" data-density-shift time="{{ post.date.toISOString() }}">{{ post.date.toLocaleString('en-US', { month: 'long', day: '2-digit', year: 'numeric' }) }}</datetime>
        <span class="text--display" slot="icon">{{ post.data.emoji }}</span>
        <span class="text--display" role="heading" slot="title">{{ post.data.title }}</span>
        <hr slot="line"/>
        {% if post.data.desc %}
        <p>{{ post.data.desc }}</p>
        {% endif %}
      </topic-summary>
    </a>
  </li>
  {%- endfor %}
</ul>
{% endif %}

<nav class="pagination" data-density-shift>
  <a 
    role="link"
    {% if pagination.href.previous %} href="{{pagination.href.previous}}" {% endif %}
    {% if not pagination.href.previous %} aria-disabled="true" {% endif %}>Previous Page</a>
  
  <a 
    role="link"
    {% if pagination.href.next %} href="{{pagination.href.next}}" {% endif %}
    {% if not pagination.href.next %} aria-disabled="true" {% endif %}>Next Page</a>
</nav>
